.packages-disambiguation-table .badge-flat code {
  color: #b87be0;
  background-color: #b87be020;
  border-color: #b87be050;
}

.packages-disambiguation-table .badge-recommend code {
  color: #46c79a;
  background-color: #46c79a20;
  border-color: #46c79a50;
}

.packages-disambiguation-table .badge-legacy code {
  color: #a7753d;
  background-color: #a7753d20;
  border-color: #a7753d50;
}
